@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0c0f;
  scroll-behavior: smooth;
}

.swiper {
  position: relative;
}

.swiper-pagination {
  width: fit-content !important;
  position: absolute;
  left: 85% !important; /* Adjust the right position as needed */
  bottom: 64px !important; /* Adjust the bottom position as needed */
}

.swiper-pagination-bullet {
  width: 8px; /* Adjust the width of the dots as needed */
  height: 8px; /* Adjust the height of the dots as needed */
  background-color: white !important; /* Change the color of the dots as needed */
  opacity: 0.5; /* Adjust the opacity of inactive dots as needed */
  transition: background-color 0.3s ease; /* Add a transition effect if desired */
}

.swiper-pagination-bullet-active {
  opacity: 1; /* Adjust the opacity of the active dot as needed */
}

.ant-pagination-simple .ant-pagination-simple-pager input {
  background-color: transparent !important;
  border-color: transparent !important;
  pointer-events: none;
  padding: none !important;
  width: 24px;
  text-align: right !important;
  margin: auto 0;
}

/* width */
::-webkit-scrollbar {
  position: relative;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 639.5px) {
  .swiper-pagination {
    bottom: 1% !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
}
